################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.assets.cache
*.vsidx
/Backend/SumincogarBackend/.vs/SumincogarBackend/v17/.suo
/Backend/SumincogarBackend/SumincogarBackend/bin/Debug/net6.0/SumincogarBackend.deps.json
/Backend/SumincogarBackend/SumincogarBackend/bin/Debug/net6.0/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/bin/Debug/net6.0/SumincogarBackend.staticwebassets.runtime.json
/Backend/SumincogarBackend/SumincogarBackend/bin/Debug/net6.0/SumincogarBackend.pdb
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/ref/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/refint/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.SumincogarBackend.props
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets/msbuild.SumincogarBackend.Microsoft.AspNetCore.StaticWebAssets.props
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.SumincogarBackend.props
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets.build.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets.development.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/staticwebassets.pack.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.csproj.FileListAbsolute.txt
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.csproj.CoreCompileInputs.cache
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.MvcApplicationPartsAssemblyInfo.cs
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.genruntimeconfig.cache
/Backend/SumincogarBackend/SumincogarBackend/obj/Debug/net6.0/SumincogarBackend.pdb
/Backend/SumincogarBackend/SumincogarBackend/obj/SumincogarBackend.csproj.nuget.g.targets
/Backend/SumincogarBackend/SumincogarBackend/obj/SumincogarBackend.csproj.nuget.g.props
/Backend/SumincogarBackend/SumincogarBackend/obj/project.assets.json
/Backend/SumincogarBackend/SumincogarBackend/obj/SumincogarBackend.csproj.nuget.dgspec.json
/Backend/SumincogarBackend/SumincogarBackend/obj/project.nuget.cache
/Backend/SumincogarBackend/.vs/SumincogarBackend/DesignTimeBuild/.dtbcache.v2
/Backend/SumincogarBackend/.vs/ProjectEvaluation/sumincogarbackend.metadata.v6.1
/Backend/SumincogarBackend/.vs/ProjectEvaluation/sumincogarbackend.projects.v6.1
/Backend/SumincogarBackend/.vs/SumincogarBackend/v17/.futdcache.v2
/Backend/SumincogarBackend/SumincogarBackend/bin/Release/net6.0/SumincogarBackend.deps.json
/Backend/SumincogarBackend/SumincogarBackend/bin/Release/net6.0/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/bin/Release/net6.0/SumincogarBackend.pdb
/Backend/SumincogarBackend/SumincogarBackend/bin/Release/net6.0/SumincogarBackend.staticwebassets.runtime.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/PubTmp/Out/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/PubTmp/Out/SumincogarBackend.pdb
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/PubTmp/Out/web.config
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/ref/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/refint/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.SumincogarBackend.props
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.SumincogarBackend.props
*.pubxml
*.user
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.pdb
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.MvcApplicationPartsAssemblyInfo.cs
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.genruntimeconfig.cache
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.dll
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.deps.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.csproj.FileListAbsolute.txt
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.csproj.CoreCompileInputs.cache
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/SumincogarBackend.assets.cache
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/staticwebassets.publish.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/staticwebassets.development.json
/Backend/SumincogarBackend/SumincogarBackend/obj/Release/net6.0/staticwebassets.build.json
/Backend/SumincogarBackend/SumincogarBackend/wwwroot/*
